---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>

<section class="hero">

  <div class="content">

    <div class="eyebrow">
      Creator Goods
    </div>

    <h1>
      Shop
    </h1>

    <p>
      Elsewhere is more than a place.
    </p>

  </div>

</section>

</BaseLayout>

<style>
  .hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 0 7vw;
  }

  h1 {
    font-size: 7rem;
    font-family: Georgia, serif;

    margin: 0 0 20px;
  }

  p {
    color: #b7b0a7;
  }

  .eyebrow {
    text-transform: uppercase;
    letter-spacing: 0.4em;

    margin-bottom: 20px;

    color: #b7b0a7;
  }
</style>